# IDE
.idea/
.vscode/
*.iml

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependencies
node_modules/

# Environment
.env
.env.local
.env.*.local

# Build outputs
dist/
build/
target/
*.exe
*.dmg
*.jar

# OS
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.temp
